@page {
    size: A4;
    margin: 1in;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

  #container {
    background-color: #9bb9aa;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
  }

  #header {
      display: flex;
      justify-content: space-around;
      background-color: rgb(152, 190, 190);
  }

  #contact {
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }

  #contact-info {
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }

  #experience {
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }

  #education {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      align-items: flex-start;
      
  }

  #certificates {
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }





